In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [9]:
df = pd.read_csv("E:\Downloads\SOCIAL Drive - Downloads\education_districtwise.csv")
df.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [11]:
print(df.shape)
df = df.dropna()
print(df.shape)

(680, 7)
(634, 7)

In [48]:
state21 = df[df['STATNAME']=='STATE21']
state28 = df[df['STATNAME']=='STATE28']
sample_state21 = state21.sample(n=20, replace=True, random_state=133151)
sample_state28 = state28.sample(n=20, replace=True, random_state=20)

print(sample_state21["OVERALL_LI"].mean(), sample_state28["OVERALL_LI"].mean())

69.75 65.2945

#### ùêª0
 : There is no difference in the mean district literacy rates between STATE21 and STATE28.#
#### ùêªùê¥
 : There is a difference in the mean district literacy rates between STATE21 and STATE28.

In [51]:
stats.ttest_ind(a=sample_state21['OVERALL_LI'], b=sample_state28['OVERALL_LI'], equal_var=False)

TtestResult(statistic=2.38802393427788, pvalue=0.022021258965451943, df=37.951886001245214)

Our P-value is 0.022 or 2.2%. This means there is only 2.2% probability that the difference in mean literacy rates will be 4.4 percentage points or greater if the NULL HYPOTHESIS were true.