In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv("E:\Downloads\SOCIAL Drive - Downloads\c4_epa_air_quality.csv")
df.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [3]:
df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
df.describe(include="all")

,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
count,260,260,260,260,257,260,260,260.000000,260.000000
unique,1,52,149,190,253,1,1,NaN,NaN
top,2018-01-01,California,Los Angeles,Not in a city,Kapolei,Carbon monoxide,Parts per million,NaN,NaN
freq,260,66,14,21,2,260,260,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.403169,6.757692
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.317902,7.061707
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200000,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276315,5.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516009,9.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.921053,50.000000

In [5]:
df.shape

(260, 9)

In [6]:
df = df.dropna()
df.shape

(257, 9)

In [7]:
df['state_name'].value_counts().head(8)

state_name
California      66
Arizona         14
Ohio            12
Florida         12
Texas           10
New York        10
Pennsylvania     9
Michigan         9
Name: count, dtype: int64

In [8]:
df['aqi'].mean()

6.782101167315175

In [9]:
la_county = df[df['county_name']=='Los Angeles']
rest_county = df[(df['state_name']=='California') & (df['county_name']!='Los Angeles')]

In [10]:
print(la_county['aqi'].mean(), rest_county['aqi'].mean())

16.285714285714285 11.0

In [11]:
significance_level = 0.05

In [12]:
# Test if mean AQI in LA is greater than the rest
print("P of Greater:", stats.ttest_ind(a=la_county['aqi'], b=rest_county['aqi'], equal_var=False, alternative='greater').pvalue)
# Test if mean AQI in LA is different than the rest
print("P of Different:", stats.ttest_ind(a=la_county['aqi'], b=rest_county['aqi'], equal_var=False, alternative='two-sided').pvalue)

P of Greater: 0.024919528421205497
P of Different: 0.049839056842410995

In [13]:
ny = df[df['state_name']=='New York']
ohio = df[df['state_name']=='Ohio']

Formulate your null and alternative hypotheses:

H0
 : The mean AQI of New York is greater than or equal to that of Ohio.
HA
 : The mean AQI of New York is below that of Ohio.io.

In [14]:
stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], equal_var=False, alternative='less')
# Our pvalue comes out to be 0.0304 or 3.04%
# This means there's a probability of 3.04% that the mean AQI of New York is going be less than that of Ohio is the NULL HYPOTHESIS is considered to be True.

TtestResult(statistic=-2.025951038880333, pvalue=0.03044650269193468, df=15.036745051598716)

In [15]:
michigan = df[df['state_name']=='Michigan']
michigan['aqi'].mean()

8.11111111111111

Formulate your null and alternative hypotheses here:

H0
 : The mean AQI of Michigan is less than or equal to 10.
HA
 : The mean AQI of Michigan is greater than 10.

Our Significance Level again is 5% or 0.05

In [17]:
stats.ttest_1samp(a=michigan['aqi'], popmean=10, alternative='greater')

TtestResult(statistic=-1.7395913343286131, pvalue=0.9399405193140109, df=8)

With a pvalue (0.939) being greater than our significance level (0.05) and a t-statistic < 0 (-1.739), we fail to reject the NULL hypothesis.

Therefore, we cannot conclude at 5% significance level that Michigan's mean AQI is greater than 10. This implies that Michigan would most likely not be affected by new policy.