In [1]:
a = ' dumb'
a = a.strip()
list(a)

['d', 'u', 'm', 'b']

In [2]:
# The append() method adds an element to the end of a list.
fruits = ['Pineapple', 'Banana', 'Apple', 'Melon']
fruits.append('Kiwi')
# print(fruits)
fruits.reverse()
print(fruits)

['Kiwi', 'Melon', 'Apple', 'Banana', 'Pineapple']

In [3]:
fruits.insert(2, 'Grapes')
fruits

['Kiwi', 'Melon', 'Grapes', 'Apple', 'Banana', 'Pineapple']

In [4]:
# The remove() method deletes the first occurrence of an element in a list.
fruits.remove('Banana')
print(fruits)

['Kiwi', 'Melon', 'Grapes', 'Apple', 'Pineapple']

In [5]:
# The pop() method removes the element at a given index and returns it.
# If no index is given, it removes and returns the last element.
fruits.pop(2)
print(fruits)

['Kiwi', 'Melon', 'Apple', 'Pineapple']

In [6]:
fruits.pop()

'Pineapple'

In [7]:
fruits

['Kiwi', 'Melon', 'Apple']

In [8]:
fruits[2] = 'Apple'

In [9]:
# Lists are mutable because you can overwrite their elements
power = [1.21, 'gigawatts']
power[0] = 2.21
print(power)

[2.21, 'gigawatts']

In [10]:
# Tuples are instantiated with parentheses.
fullname = ('Masha', 'Z', 'Hopper')

# Tuples are immutable, so their elements cannot be overwritten.
fullname[2] = 'Copper'
print(fullname)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# You can combine tuples using addition.
fullname = fullname + ('Jr',)
print(fullname)

In [ ]:
ballers = ['Isco', 'Carvajal', 'Casemiro']
ballers = tuple(ballers)
ballers

In [ ]:
# Functions that return multiple values return them in a tuple.
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)

    return dollars, cents

In [ ]:
to_dollars_cents(100.33)

In [ ]:
# "Unpacking" a tuple allows a tuple's elements to be assigned to variables.
dollars, cents = to_dollars_cents(6.55)
print(dollars + 1)
print(cents + 1)

In [ ]:
# The data type of an element of an unpacked tuple is not necessarily a tuple.
type(dollars)

In [ ]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [('Marta', 20, 'center'),
        ('Ana', 22, 'point guard'),
        ('Gabi', 22, 'shooting guard'),
        ('Luz', 21, 'power forward'),
        ('Lorena', 19, 'small forward'),
        ]

In [ ]:
for name, age, position in team:
    print(name, position)

In [ ]:
# This code produces the same result as the code in the cell above.
for player in team:
    print(player[0], player[2])

In [ ]:
# Create a function to extract and names and positions from the team list and
# format them to be printed. Returns a list.
def player_position(players):
    result = []
    for name, age, position in players:
        result.append('Name: {:>19} \nPosition: {:>15}\n'.format(name, position))
    return result

In [ ]:
# Loop over the list of formatted names and positions produced by
# player_position() function and print them.
for player in player_position(team):
    print(player)

In [ ]:
# Nested loops can produce the different combinations of pips (dots) in
# a set of dominoes.
for left in range(7):
    for right in range(left, 7):
        print(f"[{left}|{right}]", end=" ")
    print('\n')

In [ ]:
# Create a list of dominoes, with each domino reprented as a tuple.
dominoes = []
for left in range(7):
    for right in range(left, 7):
        dominoes.append((left, right))
dominoes

In [ ]:
sum_list = []
for pair in dominoes:
    sum_list.append(sum(pair))

In [ ]:
sum_list

In [ ]:
# [sum(pair) for pair in dominoes]

In [ ]:
# Create a dictionary with pens as keys and the animals they contain as values.
# Dictionaries can be instantiated using braces.
zoo = {
    'pen_1': 'penguins',
    'pen_2': 'zebras',
    'pen_3': 'lions',
    }

# Selecting the `pen_2` key returns `zebras`, the value stored at that key.
zoo['pen_2']

In [ ]:
zoo['pen_3']

In [ ]:
# Another way to create a dictionary using the dict() function.
zoo = dict(
    [
     ['pen_1', 'monkeys'],
     ['pen_2', 'zebras'],
     ['pen_3', 'lions'],
    ]
)

zoo['pen_2']

In [ ]:
zoo

In [ ]:
'pen_1' in zoo

In [ ]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
# Add new players to the list.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [ ]:
new_team = {}

for name, age, position in team:
    if position in new_team:
        new_team[position].append((name, age))
    else:
        new_team[position] = [(name, age)]
        
new_team

In [ ]:
for dic_keys in new_team:
    print(dic_keys)

In [ ]:
(new_team.keys())

In [ ]:
new_team.values()
for val in list(new_team.values()):
    print(val)

In [ ]:
# The items() method returns both the keys and the values.
for a, b in new_team.items():
    print(a, b)

In [ ]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

In [ ]:
# The set() function converts a tuple to a set.
x = set(('foo','bar','baz', 'foo'))
print(x)

In [ ]:
# The set() function converts a string to a set.
x = set('what the actual fuck')
print(x)

In [ ]:
# You can use braces to instantiate a set
x = {'foo'}
print(type(x))

# But empty braces are reserved for dictionaries.
y = {}
print(type(y))

In [ ]:
# Instantiating a set with braces treats the contents as literals.
x = {'foo'}
print(x)

In [ ]:
# The intersection() method (&) returns common elements between two sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2))
print(set1 & set2)

In [ ]:
# The union() method (|) returns all the elements from two sets, each represented once.
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1.union(x2))
print(x1 | x2)

In [ ]:
# The difference() method (-) returns the elements in set1 that aren't in set2
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.difference(set2))
print(set1 - set2)

In [ ]:
# ... and the elements in set2 that aren't in set1.
print(set2.difference(set1))
print(set2 - set1)

In [ ]:
# The symmetric_difference() method (^) returns all the values from each set that
# are not in both sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference(set1)
set2 ^ set1

In [ ]:
import numpy as np

In [ ]:
# Lists cannot be multiplied together.
list_a = [1, 2, 3]
list_b = [2, 4, 6]

list_a * list_b

In [ ]:
# To perform element-wise multiplication between two lists, you could
# use a for loop.
list_c = []
for i in range(len(list_a)):
    list_c.append(list_a[i] * list_b[i])

list_c

In [ ]:
# NumPy arrays let you perform array operations.

# Import numpy, aliased as np.
import numpy as np

# Convert lists to arrays.
array_a = np.array(list_a)
array_b = np.array(list_b)

# Perform element-wise multiplication between the arrays.
array_a * array_b

In [ ]:
import numpy as np

# The np.array() function converts an object to an ndarray
x = np.array([1, 2, 3, 4])
x

In [ ]:
x[2] = 7
x

In [ ]:
# Arrays cast every element they contain as the same data type.
arr = np.array([1, 2, 'coconut'])
arr

In [ ]:
# NumPy arrays are a class called `ndarray`.
print(type(arr))

In [ ]:
# The dtype attribute returns the data type of an array's contents.
arr = np.array([[1, 2, 3],
                [2, 5, 3]])
arr.dtype

In [ ]:
arr.shape

In [ ]:
arr.ndim

In [ ]:
# Create a 2D array by passing a list of lists to np.array() function.
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(arr_2d.shape)
print(arr_2d.ndim)
arr_2d

In [ ]:
# Create a 3D array by passing a list of two lists of lists to np.array() function.
arr_3d = np.array([[[1, 2, 3],
                   [3, 4, 5]],

                  [[5, 6, 7],
                   [7, 8, 9]]]
)

print(arr_3d.shape)
print(arr_3d.ndim)
arr_3d

In [ ]:
# The reshape() method changes the shape of an array.
arr_2d = arr_2d.reshape(2, 4)
arr_2d

In [ ]:
# Create new array
arr = np.array([1, 2, 3, 4, 5])

# The mean() method returns the mean of the elements in an array.
np.mean(arr)

In [ ]:
# The log() method returns the natural logarithm of the elements in an array.
np.log(arr)

In [ ]:
# The floor() method returns the value of a number rounded down
# to the nearest integer.
np.floor(5.7)

In [ ]:
np.ceil(86.2)

In [ ]:
# NumPy and pandas are typically imported together.
# np and pd are conventional aliases.
import numpy as np
import pandas as pd

In [ ]:
# Use iloc to access data using index numbers.
# Select row 1, column 3.
dataframe.iloc[1][3]

In [ ]:
# Group customers by Sex and Pclass and calculate the total paid for each group
# and the mean price paid for each group.
fare = dataframe.groupby(['Sex', 'Pclass']).agg({'Fare': ['count', 'sum']})
fare['fare_avg'] = round(fare['Fare']['sum'] / fare['Fare']['count'], 2)
fare

In [ ]:
# Use pd.DataFrame() function to create a dataframe from a NumPy array.
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'], index=['x', 'y', 'z'])
df2

In [ ]:
# Use iloc to return a Series object of the data in row 0.
titanic.iloc[0]

In [ ]:
# Use iloc to return a DataFrame view of the data in row 0.
titanic.iloc[[0]]